# Supabase Configuration (API-based connection)
NEXT_PUBLIC_SUPABASE_URL=https://lmzsweqqtjzlrrcksyrq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_hkRzZDLi67UxnrlfmcuNWg_bfFe9N7h

# Database Configuration
# Direct connection for Prisma (required for schema operations)
DATABASE_URL="postgresql://postgres:%40Waxmangme86@db.lmzsweqqtjzlrrcksyrq.supabase.co:6543/postgres?sslmode=require"
DIRECT_URL="postgresql://postgres:%40Waxmangme86@db.lmzsweqqtjzlrrcksyrq.supabase.co:6543/postgres?sslmode=require"
# Next.js Configuration
NEXT_PUBLIC_APP_URL="http://192.168.100.46:3000"